.mt120 {
    margin-top: 120px;
}

.mt50 {
    margin-top: 50px;
}

.mt8 {
    margin-top: 8px;
}

.red-color {
    color: #e74c3c !important;
}

.blue-color {
    color: #3498db !important;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-center {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.btn-add-article {
    margin: 20px 0;
}

